#errorBox {
    font-size:35px;
    border-bottom: 2px solid red;
    display: none;
    /*background: #AAA;*/
    padding: 3px;
    border-radius: 3px;
    width: 20%;
    margin: 0px auto;
    text-align: center;
    color:#fff;
    opacity: 0.0;
    animation: porta 2s 1 forwards;
    -webkit-animation: porta 2s 1 forwards;
}
#loadingBox{
    background: #80CD8B;
    width: 0%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}
button[type=button]{
     padding: 10px;
     margin: 8px 0;
     box-sizing: border-box;
     border: none;
     background-color: #645d4c;
     color: white;
     float: right;
     font-size: 25pt;
 }

input[type=password] {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}
input[type=submit] {
    padding: 5px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #BC967E;
    border-radius: 15pt;
    color: white;
    float: right;
}
input[type=text] {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
}
.divRegisterTitle{
    margin-right: 70pt;
    margin-top: 0pt;
    text-align: left;
}