body{
    background: #ffffff;
}
header{
    background:#CCA08A;;
    height: auto;
    width: 101.45%;
    margin: -20px;
}
.blog-title{
    color: white;
    font-family: Lucida Sans Unicode;
    margin: 100px auto;
    display: block;
    text-align: center;
    font-size: 40px;
    border-bottom: 0.5px solid #fff;
    width: 75%;
    text-shadow: 1px 3px #7F7E7E;

}
.page-title{
    color: white;
    font-family: Lucida Sans Unicode;
    margin: 40px auto;
    display: block;
    text-align: center;
    font-size: 50px;
    width: 75%;
    text-shadow: 1px 3px #7F7E7E;
}
.buttonsContent{
    margin: -25px auto;
    display: block;
    padding: 10px;
    background: #7F7E7E;
    font-size: 20px;
    height: auto;
    width: auto;
    text-align: center;


}
.buttonsContent a {
    margin: 30px;

}
.buttonsContent a:hover {
    border-bottom: 1px solid #fff;
    padding: -3px;
}
input[type=image]{
    margin: 20px;
    float:right;
}

.buttonHome{
    border-bottom: 1px solid #fff;
    font-size:22px
}

a{
    text-decoration: none;
    color:#fff;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

}
a:hover{
    border-bottom: 1px solid #fff;
}
h4{
    display: block;
    border-bottom: 0.1px solid #5e5e5e;
    color: #7F7E7E;
    font-size: 40px;
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
    text-align: center;
}
p{
    display: block;
    color: #7F7E7E;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px;
    width: auto;
    text-align: center;

}
.resCont{
    margin: 100px auto;
}

.image{
    margin: 20px auto;
    display: block;
    text-align: center;
    width: auto;
}
.titleContent{
    text-align: center;
    font-size: 60px;
    margin: 15px auto;
    color: #7F7E7E;
    padding: 10px 0px;
    border-bottom: 1px solid;
    width: 35%;
    height: auto;
    font-weight: bold;
    display: block;
}
.titleSecond{
    text-align: center;
    font-size: 30px;
    margin: 15px auto;
    color: #7F7E7E;
    padding: 10px 0px;
    border-bottom: 1px solid;
    width: 20%;
    height: auto;
    font-weight: bold;
    display: block;
}
.bullet{
    text-align: left;
    font-size: 50px;
    color:#545454;
    margin: 30px auto;
    display: inline;

}
.englishText{
    line-height: 1.3;
    margin: 20px auto;
    text-align: left;
    display: block;
    width: 75%;

}
.langPart{
    margin: 0 auto ;
    text-align: center;
    display: inline-block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 16%;
    font-family: Arial;
    border: 1px solid #7F7E7E;

}
.langPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;

}

#bulglangPart{
    margin: 0 auto ;
    text-align: center;
    display: inline-block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 12%;
    font-family: Arial;
    border: 1px solid #7F7E7E;

}
#bulglangPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;

}
#GermlangPart{
    margin: 0 auto ;
    text-align: center;
    display: inline-block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 15%;
    font-family: Arial;
    border: 1px solid #7F7E7E;

}
#GermlangPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;
}
#RuslangPart{
    margin: 0 auto ;
    text-align: center;
    display: inline-block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 15%;
    font-family: Arial;
    border: 1px solid #7F7E7E;
}
#RuslangPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;
}

.mathsPart{
    margin: 0px auto;
    text-align: center;
    display: block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 60%;
    font-family: Arial;
    border: 1px solid #7F7E7E;


}
.mathsPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;
}
.historyPart{
    margin: 0px auto;
    text-align: center;
    display: block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 60%;
    font-family: Arial;
    border: 1px solid #7F7E7E;

}
.historyPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;

}
#history{
    margin: 50px auto;
    display: block;
    text-align: center;
}
.moreHistory{
    margin: 20px auto;
    text-align: center;
    display: block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 60%;
    font-family: Arial;
    border: 1px solid #7F7E7E;
}
.moreHistory:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;
}
.geoPart{
    margin: 0px auto;
    text-align: left;
    display: block;
    padding: 15px;
    color: #ffffff;
    font-size: 25px;
    height: auto;
    width: 30%;
    font-family: Arial;
}
.geoPart:hover{
    border: 2px solid #ffffff;
    background: #003F6D;
}
#geoBack{
    height: 802px;
}
.readMoreGeo{
    color:#ffffff;
    text-align: center;
    font-size: 30px;
    margin: 15px auto;
    padding: 10px 0px;
    border-bottom: 1px solid;
    width: 20%;
    height: auto;
    font-weight: bold;
    display: block;
}
.sciencePart{
    margin: 0px auto;
    text-align: left;
    display: block;
    padding: 15px;
    color: #0D1518;
    font-size: 30px;
    height: auto;
    width: 30%;
    font-family: Arial;
}
.sciencePart:hover{
    border: 2px solid #ffffff;
    background: #738DB5;
    color: #ffffff;
}
#scienceBack{
    height: 652px;
    width: auto;
}
.readMoreScience{
    color:#000000;
    text-align: center;
    font-size: 30px;
    margin: 15px auto;
    padding: 10px 0px;
    border-bottom: 1px solid;
    width: 20%;
    height: auto;
    font-weight: bold;
    display: block;
}
.litPart{
    margin: 0px auto;
    text-align: center;
    display: block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 60%;
    font-family: Arial;
    border: 1px solid #7F7E7E;
}
.litPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;
}
#litImg{
    margin: 0 auto;
    text-align: center;
    display: block;
}
.itPart{
    margin: 0px auto;
    text-align: center;
    display: block;
    padding: 15px;
    color: #0D1518;
    font-size: 25px;
    height: auto;
    width: 60%;
    font-family: Arial;
    border: 1px solid #7F7E7E;
}
.itPart:hover{
    border: 2px solid #ffffff;
    background: #CCCCCC;
}
#errorhomeWorkBGRes {
    font-size:35px;
    border-bottom: 2px solid red;
    display: none;
    /*background: #AAA;*/
    padding: 3px;
    border-radius: 3px;
    width: 20%;
    margin: 0px auto;
    text-align: center;
    color: #ffffff;;
    opacity: 0.0;
    animation: porta 2s 1 forwards;
    -webkit-animation: porta 2s 1 forwards;
}
.blog-title:nth-of-type(2){
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
@keyframes porta {
    0%{
        transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 4.0;
    }
}

@-webkit-keyframes porta {
    0%{
        -webkit-transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@keyframes reseta {
    0%{}
    50%{}
}

@-webkit-keyframes reseta {
    0%{}
    50%{}
}


#LogOutHomeWorkBGRes{
    font-size: 35px;
    border-bottom: 2px solid green;
    display: none;
    padding: 3px;
    border-radius: 3px;
    width: 40%;
    margin: 100px auto;
    text-align: center;
    color:#fff;
    opacity: 0.0;
    animation: porta 2s 1 forwards;
    -webkit-animation: porta 2s 1 forwards;
}
.blog-title:nth-of-type(2){
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
@keyframes porta {
    0%{
        transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 4.0;
    }
}

@-webkit-keyframes porta {
    0%{
        -webkit-transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@keyframes reseta {
    0%{}
    50%{}
}

@-webkit-keyframes reseta {
    0%{}
    50%{}
}
footer{
    background: #7F7E7E;
    height: 200px;
    margin: 30px auto;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    display: block;
    font-family: Lucida Sans Unicode;

}
.button-to-top:hover{
    bacground-color: #ed702b;
    text-decoration: none;  }

.button-to-top {
    display: none;
    position: fixed;
    bottom: 1rem;
    right:1rem;
    width:3.2rem;
    height: 3.2rem;
    line-height:3.0rem;
    font-size:1.4rem;
    color:#fff;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    border-radius: 3.2rem;
    text-align: center;
    cursor: pointer;
}
.footerImg{
    padding: 0px 20px;
}
.footerImg a:hover{
    border: none;
}

